# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Test artifacts
.pytest_cache/
.coverage

# IDE folders
.vscode/
.idea/
